extends layout

block content
    h1 Login
    form(method='POST', action='/users/login')
        #form-group
            input.form-control(name='username', type='text', placeholder='Enter Username')
        #form-group
            input.form-control(name='password', type='password', placeholder='Enter Password')
        br
        input.btn.btn-primary(type='submit', value='Submit')
